Workshop-Rules/5-S3-Bucket-Policy-Read-Access/template.yml
AWSTemplateFormatVersion: 2010-09-09


Resources:

  ConfigRulesWorkshopTestRole:
    Type: "AWS::IAM::Role"
    Properties:
      RoleName: "ConfigRulesWorkshopTestRole"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Deny
                Action: "*"
                Resource: "*"

  InduceRuleTriggerFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.6
      Timeout: 10
      Role: !GetAtt LambdaExecRole.Arn
      Code:
        ZipFile: |
          import boto3
          import json
          import random
          import string
          import datetime
          import logging
          from botocore.exceptions import ClientError
          s3 = boto3.client('s3')
          sts = boto3.client('sts')
          logger = logging.getLogger()
          logger.setLevel(logging.INFO)

          def lambda_handler(event, context):

              startTime = datetime.datetime.utcnow()
              logger.info(json.dumps(event))
              region = context.invoked_function_arn.split(':')[3]
              bucket_suffix = ''.join(random.choices(string.ascii_lowercase + string.digits, k=10))
              response = {}

              try:

                  #get account_id
                  response = sts.get_caller_identity()
                  account_id = response['Account']

                  bad_policy_bucket="config-rules-not-compliant-policy-bucket-" + bucket_suffix

                  bad_policy = {
                      "Version": "2012-10-17",
                      "Statement": [
                          {
                              "Sid": "",
                              "Effect": "Allow",
                              "Principal": "*",
                              "Action": "s3:GetObject",
                              "Resource": "arn:aws:s3:::" + bad_policy_bucket + "/*"
                          }
                      ]
                  }
                  print(json.dumps(bad_policy))
                  response = s3.create_bucket(
                      Bucket=bad_policy_bucket,
                      CreateBucketConfiguration={'LocationConstraint': region}
                  )
                  response = s3.put_bucket_policy(
                      Bucket=bad_policy_bucket,
                      Policy=json.dumps(bad_policy)
                  )

                  s3.put_bucket_versioning(Bucket=bad_policy_bucket,VersioningConfiguration={'Status':'Enabled'})
                  s3.put_bucket_lifecycle_configuration(Bucket=bad_policy_bucket, LifecycleConfiguration={
                      'Rules':[
                          {
                              'Prefix':'',
                              'Status':'Enabled',
                              'NoncurrentVersionTransitions':[
                                  {
                                  'NoncurrentDays':1,
                                  'StorageClass':'GLACIER'
                                  }
                              ]
                          }
                      ]
                  })

                  compliant_bucket = "config-rules-workshop-compliant-" + bucket_suffix
                  response = s3.create_bucket(
                      Bucket=compliant_bucket,
                      CreateBucketConfiguration={'LocationConstraint': region}
                  )

                  good_policy = {
                      "Version": "2012-10-17",
                      "Statement": [
                          {
                              "Sid": "",
                              "Effect": "Allow",
                              "Principal": {
                                  "AWS": "arn:aws:iam::" + account_id + ":role/ConfigRulesWorkshopTestRole"
                              },
                              "Action": "s3:*",
                              "Resource": "arn:aws:s3:::" + compliant_bucket + "/*"
                          }
                      ]
                  }
                  print(json.dumps(good_policy))
                  response = s3.put_bucket_policy(
                      Bucket=compliant_bucket,
                      Policy = json.dumps(good_policy)
                  )

                  s3.put_bucket_versioning(Bucket=compliant_bucket,VersioningConfiguration={'Status':'Enabled'})
                  s3.put_bucket_lifecycle_configuration(Bucket=compliant_bucket,LifecycleConfiguration={
                      'Rules':[
                          {
                              'Prefix':'',
                              'Status':'Enabled',
                              'NoncurrentVersionTransitions':[
                                  {
                                  'NoncurrentDays':1,
                                  'StorageClass':'GLACIER'
                                  }
                              ]
                          }
                      ]
                  })

                  resource = {
                      'ResourceType': 'AWS::S3::Bucket',
                      'ResourceName': bad_policy_bucket,
                      'ValidationResources': {
                          'NON_COMPLIANT': bad_policy_bucket,
                          'COMPLIANT': compliant_bucket
                      },
                      'StartTime': startTime.replace(microsecond=0).isoformat('T') + 'Z'
                  }

                  return resource

              except ClientError as e:
                  print(e)

       

  CheckCloudTrailFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.6
      Timeout: 10
      Role: !GetAtt LambdaExecRole.Arn
      Code:
        ZipFile: >
          import boto3

          import json

          import logging

          import datetime

          logger = logging.getLogger()

          logger.setLevel(logging.INFO)

          client = boto3.client("cloudtrail")

          config = boto3.client("config")

          def lambda_handler(event, context):
              logger.info(json.dumps(event));



              resource_name = event['Resource']['ResourceName']
              resource_type = event['Resource']['ResourceType']
              start_time = event['Resource']['StartTime']
              start_time_dt = datetime.datetime.strptime(start_time, "%Y-%m-%dT%H:%M:%SZ")
              logger.info('resource_name = ' + resource_name)
              logger.info('start_time = ' + start_time)
              logger.info('start_time_dt = ' + str(start_time_dt))

              #check presence in config first since it's faster than CloudTrailEvent
              not_compliant_security_group_id = event['Resource']['ValidationResources']['NON_COMPLIANT']
              notcomp_config_response = config.get_compliance_details_by_resource(
                  ResourceType=resource_type,
                  ResourceId=resource_name
              )

              compliant_security_group_id = event['Resource']['ValidationResources']['COMPLIANT']
              comp_config_response = config.get_compliance_details_by_resource(
                  ResourceType=resource_type,
                  ResourceId=resource_name
              )

              #both new SGs have been evaluated by config
              if notcomp_config_response['EvaluationResults'] and comp_config_response['EvaluationResults']:
                  return {
                      'Wait': 'false'
                  }


              response = client.lookup_events(
                  LookupAttributes=[
                      {
                          'AttributeKey': 'ResourceName',
                          'AttributeValue': resource_name
                      }
                  ],
                  StartTime=start_time_dt
              )
              logger.info(response)

              if not response['Events']:
                  return {
                      'Wait': 'true'
                  }

              return {
                  'Wait': 'false',
                  'CloudTrailEvent': response['Events'][0]['CloudTrailEvent']
              }


  CheckComplianceFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.6
      Timeout: 10
      Role: !GetAtt LambdaExecRole.Arn
      Code:
        ZipFile: >
          import boto3

          import botocore

          import json

          import logging

          logger = logging.getLogger()

          logger.setLevel(logging.INFO)

          client = boto3.client("config");

          def lambda_handler(event, context):

              resources = event['Resource']['ValidationResources']
              resource_type = event['Resource']['ResourceType']
              logger.info('resource_type = ' + resource_type)
              update_points = "Yes"

              not_compliant_s3_bucket = resources['NON_COMPLIANT']
              compliant_s3_bucket= resources['COMPLIANT']

              #check not compliant for success first
              resource_name = not_compliant_s3_bucket
              response = client.describe_compliance_by_resource(
                  ResourceType=resource_type,
                  ResourceId=resource_name
                  )
              logger.info(json.dumps(response));

              if len(response['ComplianceByResources']) == 0:
                  return {
                      'Status': 'ERROR',
                      'Response': json.dumps(response)
                      }

              compliance = response['ComplianceByResources'][0]['Compliance']['ComplianceType']
              if compliance != "NON_COMPLIANT":
                  update_points = "No"

              #check compliant SG next to make sure marked compliant
              resource_name = compliant_s3_bucket
              response = client.describe_compliance_by_resource(
                  ResourceType=resource_type,
                  ResourceId=resource_name
                  )
              logger.info(json.dumps(response));

              if len(response['ComplianceByResources']) == 0:
                  return {
                      'Status': 'ERROR',
                      'Response': json.dumps(response)
                      }

              compliance = response['ComplianceByResources'][0]['Compliance']['ComplianceType']
              if compliance != "COMPLIANT":
                  update_points="No"

              return {
                  'UpdatePoints': update_points
              }


  UpdateScoreFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.6
      Timeout: 10
      Role: !GetAtt LambdaExecRole.Arn
      Code:
        ZipFile: >
          import json

          import logging

          import urllib

          logger = logging.getLogger()

          logger.setLevel(logging.INFO)

          def lambda_handler(event, context):
              logger.info(json.dumps(event));

              jwt = event['Jwt']
              leaderboard_url = event['Leaderboard']['Url']
              rule_id = event['Leaderboard']['RuleId']
              points = event['Leaderboard']['Points']
              logger.info('jwt = ' + jwt)
              logger.info('leaderboard_url = ' + leaderboard_url)
              logger.info('rule_id = ' + rule_id)
              logger.info('points = ' + points)

              payload = {
                  'ruleId': rule_id,
                  'points': points
              }

              req = urllib.request.Request(leaderboard_url)
              req.add_header('Authorization', jwt)

              response = urllib.request.urlopen(req, data=bytes(json.dumps(payload), encoding='utf-8'))
              responseBody = json.loads(response.read().decode('utf-8'))

              logger.info('response = ' + json.dumps(responseBody));

              return {
                  'StatusCode': response.status
              }


  CleanupFunction:
    Type: AWS::Lambda::Function
    Properties:
      Handler: index.lambda_handler
      Runtime: python3.6
      Timeout: 10
      Role: !GetAtt LambdaExecRole.Arn
      Code:
        ZipFile: >
          import boto3

          import json

          import string

          import logging

          from botocore.exceptions import ClientError


          s3 = boto3.client('s3')

          iam = boto3.client('iam')

          logger = logging.getLogger()

          logger.setLevel(logging.INFO)

          def lambda_handler(event, context):

              logger.info(json.dumps(event))
              not_compliant_s3_bucket = event['Resource']['ValidationResources']['NON_COMPLIANT']
              compliant_bucket = event['Resource']['ValidationResources']['COMPLIANT']
              try:

                  response = s3.delete_bucket(
                      Bucket=not_compliant_s3_bucket
                  )
                  logger.info("Delete first Bucket: " + json.dumps(response))


                  response = s3.delete_bucket(
                      Bucket=compliant_bucket
                  )
                  logger.info("Delete second Bucket: " + json.dumps(response))

                  return {
                      'CleanupStatus': 'S3 buckets successfully deleted.'
                  }

              except ClientError as e:
                  print(e)



  LambdaExecRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument: 
        Version: 2012-10-17
        Statement: 
          - 
            Effect: Allow
            Principal: 
              Service: 
                - lambda.amazonaws.com
            Action: 
              - sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies: 
        - PolicyName: LambdaConifigCheckPolicy
          PolicyDocument: 
            Version: 2012-10-17
            Statement:
               - Effect: Allow
                 Resource: '*'
                 Action:
                  - iam:DeleteRole
                  - iam:CreateRole
                  - config:DescribeComplianceByResource
                  - config:GetComplianceDetailsByResource
                  - s3:CreateBucket
                  - s3:PutBucketAcl
                  - s3:PutBucketPolicy
                  - s3:PutBucketVersioning
                  - s3:PutLifecycleConfiguration
                  - s3:DeleteBucket
                  - sts:GetCallerIdentity
                  - cloudtrail:LookupEvents
                  
  
  StatesExecutionRole:
    Type: "AWS::IAM::Role"
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - !Sub states.${AWS::Region}.amazonaws.com
            Action: "sts:AssumeRole"
      Path: "/"
      Policies:
        - PolicyName: StatesExecutionPolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "lambda:InvokeFunction"
                Resource: "*"

  StateMachine:
    Type: "AWS::StepFunctions::StateMachine"
    Properties:
      StateMachineName: "ConfigRulesWorkshop-5-S3-Bucket-Access"
      DefinitionString:
        !Sub
          - |-
            {
              "Comment": "A test harness for S3 Access Config Rule",
              "StartAt": "setup",
              "States": {
                "setup": {
                  "Type": "Pass",
                  "Result": {
                    "Url": "https://f0ah4xd3c0.execute-api.ap-northeast-1.amazonaws.com/prod/teamscores",
                    "RuleId": "S3_Bucket_Access",
                    "Points": "250"
                  },
                  "ResultPath": "$.Leaderboard",
                  "Next": "induce_rule"
                },
                "induce_rule": {
                  "Type": "Task",
                  "Resource": "${InduceRuleTriggerFunctionArn}",
                  "ResultPath": "$.Resource",
                  "Next": "wait_ten_seconds"
                },
                "wait_ten_seconds" : {
                  "Type" : "Wait",
                  "Seconds" : 10,
                  "Next": "check_cloudtrail"
                },
                "check_cloudtrail" : {
                  "Type" : "Task",
                  "Resource": "${CheckCloudTrailFunctionArn}",
                  "ResultPath": "$.CloudTrail",
                  "Next": "wait_longer"
                },
                "wait_longer": {
                  "Type" : "Choice",
                  "Choices": [
                    {
                      "Variable": "$.CloudTrail.Wait",
                      "StringEquals": "true",
                      "Next": "wait_ten_seconds"
                    },
                    {
                      "Variable": "$.CloudTrail.Wait",
                      "StringEquals": "false",
                      "Next": "wait_three_seconds"
                    }
                  ],
                  "Default": "unknown_wait"
                },
                "unknown_wait": {
                  "Type": "Fail",
                  "Error": "non-boolean value for wait_longer wait value: $.CloudTrail.Wait"
                },
                "wait_three_seconds" : {
                  "Type" : "Wait",
                  "Seconds" : 3,
                  "Next": "check_compliance"
                },
                "check_compliance": {
                  "Type" : "Task",
                  "Resource": "${CheckComplianceFunctionArn}",
                  "ResultPath": "$.UpdatePoints",
                  "Next": "cleanup"
                },
                "cleanup": {
                  "Type": "Task",
                  "Resource": "${CleanupFunctionArn}",
                  "ResultPath": "$.CleanupStatus",
                  "Next": "is_compliant"
                },
                "is_compliant": {
                  "Type" : "Choice",
                  "Choices": [
                    {
                      "Variable": "$.UpdatePoints.UpdatePoints",
                      "StringEquals": "Yes",
                      "Next": "update_score"
                    },
                    {
                      "Variable": "$.UpdatePoints",
                      "StringEquals": "No",
                      "Next": "skip_update_score"
                    }
                  ],
                  "Default": "skip_update_score"
                },
              	"skip_update_score": {
                  "Type": "Fail",
                  "Error": "Your rule did not mark each S3 bucket appropriately."
                },
                "update_score": {
                  "Type": "Task",
                  "Resource": "${UpdateScoreFunctionArn}",
                  "ResultPath": "$.Result",
                  "End": true
                }
              }
            }
          - {
              InduceRuleTriggerFunctionArn: !GetAtt [ InduceRuleTriggerFunction, Arn ],
              CheckCloudTrailFunctionArn: !GetAtt [ CheckCloudTrailFunction, Arn ],
              CheckComplianceFunctionArn: !GetAtt [ CheckComplianceFunction, Arn ],
              UpdateScoreFunctionArn: !GetAtt [ UpdateScoreFunction, Arn ],
              CleanupFunctionArn: !GetAtt [ CleanupFunction, Arn ]
            }
      RoleArn: !GetAtt [ StatesExecutionRole, Arn ]
